.buttonContainer{
   margin: 0 auto;
   width: 280px;
   display: flex;
   justify-content: center;
   flex-wrap: wrap;
   margin-bottom: 20px;
}

.button{
   width: 65px;
   height: 65px;
   margin: 7px;
   border: solid 1px rgb(94, 94, 94);
   font-weight: 400;
   font-size: 25px;
   background-color:rgb(27, 27, 27);
   color: white;
   border-radius: 5px;
}

.button:hover{
   background-color: black;
}